.card {
  position: relative;
  left: 0px;
  // padding: 8px;
  background-color: white;
  flex: 1;
  transition: 0.8s ease-in-out;
  overflow: hidden;
  overflow-y: scroll;
  // flex: 13;
  background-color: #abec8a00;

  &:hover {
    flex: 13;
    cursor: pointer;
  }

  &::-webkit-scrollbar {
    width: 0;
  }

  & .wrapper {
    padding: 18px 16px;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    & .title {
      color: white;
      margin-left: 20px;
      font-size: 20px;
      font-weight: bold;
    }

    & .buy {
      position: absolute;
      background-color: rgb(66, 175, 39);
      border-radius: 5px;
      padding: 5px 14px;
      color: white;
      margin-left: 20px;
      font-size: 18px;
      text-transform: uppercase;
      left: 205px;
      transition: 0.3s ease-in-out;
      font-weight: bold;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  & .wrap {
    color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 320px;
    gap: 10px;

    & .row {
      display: flex;
      align-items: center;
      gap: 15px;
      position: relative;

      &:hover img {
        transform: scale(1.1);
      }

      & img {
        transition: 0.3s;
      }

      & .text {
        font-weight: bold;
      }

      & .price {
        position: absolute;
        right: 0px;
        font-weight: bold;
      }
    }
  }
}
