@import "/src/app/basicStyles/basic";

.wrapper {
  position: relative;
  display: flex;
  padding: 42px 240px 42px 200px;
  text-shadow: 0px 0px 10px #adadad;
  color: rgb(255, 255, 255);
  transition: 0.4s;
  border-bottom: 1px solid rgb(189, 189, 189);

  &:hover {
    background-color: #0000007e;
  }

  &:first-child {
    background-color: #00000069;
    padding: 38px 200px;

    &:hover {
      background-color: #0000007e;
    }
  }

  &:first-child a {
    height: 348px;
    width: 70%;
  }

  a {
    height: 187px;
    width: 29%;
  }

  &:first-child img {
    height: 348px;
    width: 100%;
  }

  img {
    height: 187px;
    width: 100%;
  }
}

.column {
  width: 100%;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  & .title {
    font-size: 25px;
  }

  & .text {
    padding: 15px 0;
    font-size: 18px;
  }

  & .author {
    font-size: 20px;
    position: absolute;
    right: 220px;
    bottom: 30px;
  }
}
