@import "/src/app/basicStyles/basic";
@import "/src/app/basicStyles/mixin";

.column {
  position: absolute;
  top: calc(58px + 15px);
  left: calc(50% - 65px);
  transform: translateX(-50%);
  max-width: 1120px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

@media (max-width: 1360px) {
  .column {
    width: 850px;
  }
}

@media (max-width: 1000px) {
  .column {
    width: 700px;
  }
}

@media (max-width: 850px) {
  .column {
    width: 500px;
  }
}

@media (max-width: 650px) {
  .column {
    width: 300px;
  }
}

@media (max-height: 1025px) {
  .background {
    overflow-y: scroll;
  }
}
