@import "/src/app/basicStyles/basic";

.wrapper {
  position: absolute;
  left: calc(50%);
  transform: translateX(-50%);
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
  padding-bottom: 10px;
}

@media (max-width: 850px) {
  .wrapper {
    gap: 13px;
  }
}
