.item {
  width: 140px;
  height: 235px; // width * 1.6875;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  &:hover {
    cursor: pointer;
  }

  &:hover .imgHover {
    transform: scale(1.3);
  }

  & .imgHover {
    transform: scale(1.2);
  }

  & .Received {
    background-image: url("/background/received.png");
    background-repeat: no-repeat;
    top: 70px;
    background-size: 120px;
    position: absolute;
    width: 120px;
    height: 25px;
    z-index: 3;
  }

  & .top {
    position: relative;
    height: 50%;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid rgb(131, 131, 131);

    & img {
      position: absolute;
      z-index: 1;
      transition: 0.2s;
      padding: 12px;
      height: 100%;
      // opacity: 0.2;
    }

    & .topBack {
      position: absolute;
      width: 300%;
      height: 300%;
      top: 100%;
      left: 0%;
      transform: translate(-50%, -50%);
      background-repeat: no-repeat;
      filter: blur(25px);
      opacity: 0.8;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(8px);
      }
    }
  }

  & .bottom {
    height: 50%;
    // background-color: #2b303e00;
    padding: 33px 6px 6px 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & .text {
      color: white;
      font-size: 14px;
    }
  }
}

@media (max-width: 1360px) {
  .item {
    & .bottom {
      & .text {
        font-size: 11px;
      }
    }
  }
}

@media (max-width: 1000px) {
  .item {
    & .bottom {
      padding: 5px 3px 3px 3px;
      & .text {
        font-size: 9px;
      }
    }
  }
}

@media (max-width: 650px) {
  .item {
    & .bottom {
      & .text {
        font-size: 7px;
      }
    }
  }
}
