.background {
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
  width: 100vw;
  height: calc(100vh - 64px);
  position: fixed;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 0;
  }
}

.fone {
  left: 0px;
  top: 0;
  opacity: 0.1;
  position: absolute;
  width: 100vw;
  height: 100%;
  background-image: url("/background/bluedots_large.png");
  z-index: -1;
}
