.item {
  width: 140px;
  height: 235px; // width * 1.6875;
  position: relative;

  &:hover .imgHover {
    transform: scale(1.1);
  }

  & .top {
    position: relative;
    height: 75%;
    width: 100%;
    overflow: hidden;

    & img {
      position: absolute;
      z-index: 1;
      transition: 0.2s;
      top: 10px;
      padding: 12px;
      height: 100%;
    }

    & .topBack {
      position: absolute;
      width: 200%;
      height: 280%;
      top: 100%;
      left: 0%;
      transform: translate(-50%, -50%);
      background-repeat: no-repeat;
      filter: blur(20px);
      opacity: 0.8;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(8px);
      }
    }
  }

  & .bottom {
    height: 25%;
    background-color: #2b303e;
    padding: 3px 6px 6px 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & .text {
      color: white;
      font-size: 15px;
    }

    & .wrapper {
      display: flex;
      justify-content: space-between;

      & .price {
        padding-left: 3px;
        color: rgb(0, 194, 0);
        font-size: 16px;
      }

      & .url {
        padding-left: 3px;
        color: rgb(150, 150, 150);
        font-size: 14px;
        transition: 0.2s;

        &:hover {
          color: rgb(180, 180, 180);
        }
      }

      & .discount {
        display: flex;

        & .percent {
          color: white;
          font-size: 15px;
          background-color: green;
          padding: 2px 3px;
          margin-right: 5px;
        }

        & .column {
          display: flex;
          flex-direction: column;

          & .oldPrice {
            color: white;
            font-size: 10px;
            text-decoration: line-through;
          }

          & .newPrice {
            color: rgb(0, 194, 0);
            font-size: 12px;
          }
        }
      }

      & .info {
        display: inline-block;
        width: 10px;
        height: 18px;
        background-image: url("/icons/help.png");
        align-self: center;
        transition: 0.1s;

        &:hover {
          background-image: url("/icons/helpHover.png");
        }
      }
    }
  }
}
