@import "/src/app/basicStyles/mixin";

.container {
  @include container();
  // background-image: url("/background/store_home_coupon.png");

  & .more {
    display: flex;
    gap: 1px;
    position: absolute;
    right: 0;
    width: 40px;
    height: 10px;
    margin: 7px 15px;
    transition: 0.1s;

    &:hover {
      cursor: pointer;
      // transform: scale(1.1);
    }

    & img {
      position: relative;
      top: 2px;
    }

    & .text {
      margin-right: 7px;
      font-size: 10px;
      color: white;
    }
  }

  & .content {
    width: calc(100% - 22px - 30px);
    height: calc(100% - 30px - 22px);
    // background-color: #5c5a56;
    margin: 30px 22px 22px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .title {
      color: white;
      width: 150px;
      font-size: 30px;
      text-transform: uppercase;
    }

    & .wrapper {
      display: flex;
      gap: 15px;
    }
  }
}

@media (max-width: 1360px) {
  .container {
    height: 250px;

    & .content {
      & .title {
        font-size: 23px;
      }
    }
  }
}

@media (max-width: 1000px) {
  .container {
    height: 180px;

    & .content {
      & .title {
        font-size: 23px;
      }
    }
  }
}

@media (max-width: 850px) {
  .container {
    height: 180px;
    overflow: hidden;

    & .content {
      margin: 30px 22px 22px 10px;
      & .title {
        font-size: 15px;
        padding-right: 10px;
      }
    }
  }
}

@media (max-width: 650px) {
  .container {
    height: 130px;
    overflow: hidden;
    & .more {
      margin: 7px 0px;

      & img {
        position: relative;
        top: 2px;
        height: 7px;
        width: 4px;
      }

      & .text {
        font-size: 7px;
      }
    }

    & .content {
      margin: 30px 22px 22px 10px;
      & .title {
        font-size: 15px;
        padding-right: 10px;
      }
    }
  }
}
