.icons {
  position: absolute;
  z-index: 5;
  top: 50%;
  transform: translateY(-50%);
  left: 40px;

  ul {
    height: 24px;
    min-width: 23px;
    display: flex;
    gap: 45px;
    display: flex;

    li {
      transition: 0.2s;
      cursor: pointer;
      width: 24px;
      height: 24px;
    }
  }
}

.home {
  background-image: url("/icons/home_icon.png");

  &:hover {
    background-image: url("/icons/home_iconHover.png");
  }
}

.settings {
  background-image: url("/icons/settings_icon.png");
  &:hover {
    transform: rotate(60deg);
    background-image: url("/icons/settings_iconHover.png");
  }
}
